@font-face{
    font-style:normal;
    font-family:'Roboto';
    src:url('../fonts/Roboto-LightItalic.ttf') format('truetype');
}
body{
    height:100%;
    margin:0;
    padding:0;
    overflow: hidden;
    background:white;
    color:#535353;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}
a{
    text-decoration: none;
}
.layer{
    height:450px;
    width:500px;
    font-family:'Roboto', sans-serif;
    text-align: center;
}
.avtor{
    width: 180px;
    height:180px;
    border-radius: 90px;
    display:block;
    margin:0 auto;
}

.myname{
    font-size:1.7rem;
    font-weight: bold;
    margin:1.2rem;
}
.des{
    font-size: 1.3rem;
    line-height: 2rem;
}

.nav{
    clear:both;
    width:300px;
    margin:0 auto;
    padding:1.4rem;
    text-align:center;
}
.nav a{
    height:2.3rem;
    background-size: auto 2.3rem ;
}
.icon-blog{
    background: url("../images/blog.png") no-repeat center center;
}
.icon-qq{
    background: url("../images/qq.png") no-repeat center center;
}
.icon-google{
    background: url("../images/google.png") no-repeat center center;
}
.icon-github{
    background: url("../images/github.png") no-repeat center center;
}