@font-face{
    font-style:normal;
    font-family:'Roboto';
    src:url('../fonts/Roboto-Light.ttf') format('truetype');
}
.header{
    padding: 50px 20px 50px 20px;
    background-color: #5454c7;
    font-family: Roboto;
    font-style: italic;
}
.header_container{
    max-width: 700px;
    margin: 0 auto;
    color:white;
}
.header_container .title{
    margin:10px 0px;
    font-size: 1.2rem;
}
.header_container .pure-menu-list a{
    color:white;
    margin-right:10px;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}
table.list tbody{
    display: block;
}
table.list tr{
    border-top: none;
    border-bottom: solid 1px #ccc;
    width:100%;
    -webkit-box-flex: 1;
    display: -webkit-box;
}
table.list td{
    border:none;
    -webkit-box-flex:1;
    display: block;
}
table.list td:last-child{
   text-align: right;
}